@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color :#4c4c74;
    --dark-gray:#727274;
    --off-white: #f6f6f6;
    --secondary-color :#8a8af6b7;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 600px;
}

hr{
    margin: 2rem 0rem;
}
/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* Links */
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.primary-links{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-links{
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

}

/* Lists */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    padding: 0rem 0.5rem;
    display: inline;
}

/* Navigation */
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .links{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}

/* Header */
.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 300px;
    margin: auto;
    display: block;
}

.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
}

.hero-heading-inverted{
    background-color: var(--primary-color);
    color: white;
    display: inline;
    padding: 0rem 1rem;
    border-radius: 2rem;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* Sectiom */
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
    padding: 2rem;
}

.ow{
    background-color: var(--off-white);
    border-radius: 1rem;
}

/* Footers */
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .links{
    color: white;
}

.footer ul{
    padding-inline-start: 0;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .links:hover{
    background-color: #727274;
}