<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library</title>
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <h1>My Component Library</h1>
    <p>I wanted to make a component library to use it on my future projects.</p>

    <hr>
    <h2>@Typography</h2>

    <h1>this is the biggest heading - h1</h1>
    <h2>this is the second biggest heading - h2</h2>
    <h6>this is the smallest heading - h6</h6>
    <p>this is the normal text. It is free flowing and will wrap at the end like a paragraph - p</p>
    <p>This paragraph will have a <strong>bold</strong> text. - strong</p>
    <small>this is relatively smaller text -small</small>

    <hr>
    <h2>@Container</h2>
    <h3>Fluid Container</h3>
    <div class="container">this is a fluid Container and it will go to the end of the page.</div>

    <h3>Centered Container</h3>
    <div class="container container-center">this is a centered Container and it will go till the specified width.</div>
    <hr>
    <h2>@Links</h2>
    <a class="links primary-links" href="/">Primary Link</a>
    <a class="links secondary-links" href="/">Secondary Link</a>
    <hr>
    <h2>@Lists</h2>
    <h3>Unordered List</h3>
    <ul class="list-non-bullet">
        <li class="list-item-inline">Inline Item One</li>
        <li class="list-item-inline">Inline Item Two</li>
        <li class="list-item-inline">Inline Item Three</li>
    </ul>
    <h3>Unordered Inline List</h3>
    <ul class="list-non-bullet">
        <li> Item One</li>
        <li> Item Two</li>
        <li> Item Three</li>
    </ul>
    <h3>Ordered List</h3>
    <ol>
        <li>Item One</li>
        <li>Item Two</li>
        <li>Item Three</li>
    </ol>
    <h3>Reversed Ordered List</h3>
    <ol reversed>
        <li>Item One</li>
        <li>Item Two</li>
        <li>Item Three</li>
    </ol>
    <hr>
    <h2>@Nav</h2>
    <nav class="navigation container">
        <div class="nav-brand">iAmBrand</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline"><a class="links link-active" href="/">home</a></li>
            <li class="list-item-inline"><a class="links" href="/">products</a></li>
            <li class="list-item-inline"><a class="links" href="/">about</a></li>
        </ul>
    </nav>
    <hr>
    <h2>@Header</h2>
    <header class="hero">
        <img class="hero-img" src="images/hero.svg" alt="">
        <h1 class="hero-heading">I am a <span class="heading-inverted"> web developer</span></h1>
    </header>
    <hr>
    <h2>@Section</h2>
    <section class="section">
        <div class="container container-center">
            <h1>white section</h1>
            <p>This will have white background</p>
        </div>
    </section>
    <section class="section ow">
        <div class="container container-center">
            <h1>Off white section</h1>
            <p>This will have gray section</p>
        </div>

    </section>
    <hr>
    <h2>@Footer</h2>
    <footer class="footer">
        <div class="footer-header">Some small heading inside footer</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="links" href="/">Social One
                </a>
            </li>
            <li class="list-item-inline"><a class="links" href="/">Social Two</a></li>
            <li class="list-item-inline"><a class="links" href="/">Social Three</a></li>
        </ul>
    </footer>
</body>

</html>